@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap");

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}

#nav {
  width: 100%;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    /* box-shadow: 20px 20px 60px white; */
  }

  img {
    height: 50px;
    width: 200px;
  }
}

#nav #right {
  height: 50px;
  background-color: black;
  border: 10px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  font-size: 25px;
  box-shadow: 1px 1px 3px 3px white;
  overflow: hidden;

  a {
    padding: 10px;
  }
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  font-size: 60px;
  margin-bottom: 0px;
}

body {
  background-image: url(/LEAD2/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.dash {
  margin-top: 0px;
}
.Ev {
  position: relative;
  /* background-color: #adb5bd; */
  height: 460px;
  width: 300px;
  border-radius: 15px;
  padding: 10px 20px 60px 20px;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;

  h1 {
    height: 50px;
    font-size: 27px;
    font-weight: 900;
  }
  p {
    padding-top: 10px;
    height: 200px;
    font-size: 20px;
    text-align: center;
  }
}

#container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;

  a {
    text-decoration: none;
  }
}

div {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

/* #first{
    background-image: url(taitopia-render-Tsd79D1EXnE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#second{
    background-image: url(mo-p8t3Q0_ot1Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#third{
    background-image: url(martin-martz-Yo-KssZBSpw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.buttons {
  width: 250px;
  padding: 10px 40px;
  margin: 50px 0 15px 0;
  border: none;
  font-weight: 900;
  font-size: large;
  color: black;
  background-color: white;
  border-radius: 20px;
  transition: 0.4s;
}
.registerb {
  padding-top: 100px;
}

.buttons:hover {
  width: 250px;
  transition: 0.3s;
  padding: 15px;
  background: transparent;
  color: white;
  font-size: x-large;
  font-weight: 9000;
  border: 4px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  #container {
    flex: 1 1 33.33%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1150px) {
  #container {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 760px) {
  #container {
    flex: 1 1 100%;
  }
}

#title {
  margin-top: 100px;
  text-align: center;
}

div.main {
  display: flex;

  width: 400px;
  margin: 50px auto 0px auto;
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
div.register {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px soid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  columns: #fff;
}

form#register {
  margin: 40px;
}
label {
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
}
input#name {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px rgba (0, 0, 0, 0.3);
}

input#submit {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(255, 47, 182);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

label,
span,
h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 510px) {
  #nav {
    margin-top: 5px;
    img {
      display: none;
    }

    a {
      padding: 0px;
      gap: 2px;
      font-size: 15px;
    }
  }
  #right {
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 20px;
    box-shadow: 1px 1px 3px 3px white;
  }
}
